* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'montserratregular';
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
p{
	line-height: 1.6em;
}
br.clear{
	clear: both;
}
.left{
	float: left;
}
.hidden {
	display: none;
}
.right{
	float: right;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/monsterrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/monsterrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/monsterrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/monsterrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/monsterrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/monsterrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/monsterrat/montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/monsterrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
header{
	width: 100%;
	background-color: #00acc0;
	padding: 15px 0;
}
header div.left {
	width: 120px;
}
header div.left a{
	display: block;
}
header div.left a img{
	display: block;
	width: 100%;
}

header div.right ul{
	line-height: 61px;
	text-align: right;
}
header div.right ul li{
	display: inline-block;
	margin: 0 10px;
}
header div.right ul li:last-child {
	margin-right: 0;
}
header div.right ul li a{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
/*style starts from here*/
#main-home{
	background-image: url('../images/family.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#main-home header{
	background: none;
}
#main-home header h1.left{
	width: 80px;
}
#main-home header span.menu-icon,span.menu-close-icon,div.mobile-menu{
	display: none;
}
#main-home header h1.left a{
	display: block;
}
#main-home header h1.left a img{
	width: 100%;
	display: block;
}
#main-home header nav.right{
	line-height: 80px;
}
#main-home header nav.right ul{
	
}
#main-home header nav.right ul li{
	display: inline-block;
	margin-right: 30px;
	font-size: 13px;
}
#main-home header nav.right ul li:last-child{
	margin-right: 0;
}
#main-home header nav.right ul li a{
	color: #fff;
	font-weight: bold;
}
#main-home header nav.right ul li a small{
	font-size: 15px;
}
#main-home #spotlight {
	padding: 10% 15% 15% 30%;
}
#main-home #spotlight h1{
	color: #fff;
	font-size: 40px;
	font-family: montserratsemibold;
}
#main-home #spotlight p{
	color: #fff;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 13px;
	font-family: 'montserratregular';
	font-weight: bold;
}
#main-home #spotlight a.button{
	background: #fff;
	color: #000;
	border-radius: 25px;
	padding: 10px 35px;
}
#main-home #spotlight a small{
		font-family: 'montserratregular';
}
#main-home #spotlight a span{
		
}
#main-about{

}
#main-about section.card{
	width: 70%;
	margin: 0 auto;
	margin-top: -41px;

}
#main-about section.card div.left{
	width: 40%;
	background-image: url('../images/1.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3%;
}
#main-about section.card div.left h3{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#main-about section.card div.left p{
	color: #fff;
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 5%;

}
#main-about section.card div.left a.button{
	background: #fff;
	border-radius: 25px;
	padding: 10px 20px;
	color: #000;
	margin-left: -60px;
}
#main-about section.card div.left a small{
	margin-right: 4%;
}
#main-about section.card div.left a span{
	
}
#main-about section.card div.right{
	width: 60%;
	padding: 3%;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}
#main-about section.card div.right h3{
	text-align: center;
	margin-bottom: 4%;
	font-weight: bold;
}
#main-about section.card div.right ul{
	
}
#main-about section.card div.right ul li:nth-child(2){
	margin-bottom: 2%;
	margin-top: 2%;
}
#main-about section.card div.right ul li:last-child{
	margin-bottom: 0;
}
#main-about section.card div.right ul li:nth-child(2n){
	text-align: right;
}
#main-about section.card div.right ul li h4{
	font-weight: bold;
	font-size: 13px;
}
#main-about section.card div.right ul li p{
	width: 60%;
}

#main-about section.card div.right ul li div.left-2{
	float: left;
}
#main-about section.card div.right ul li div.left-2 span{
	color: #3BBAC7;
	font-size: 40px;
	height: 82px;
	line-height: 82px;
}
#main-about section.card div.right ul li div.left-2 p{
	font-size: 10px;
	float: right;
}
#main-about section.card div.right ul li div.width-sm {

}
#main-about section.card div.right ul li div.width-lg {
	width: 88%;
}
#main-about section.card div.right ul li div.right-2{
	float: right;
}
#main-about section.card div.right ul li div.right-2 span{
	color: #3BBAC7;
	font-size: 40px;
	height: 82px;
	line-height: 82px;
}
#main-about section.card div.right ul li div.right-2 p{
	font-size: 10px;

}
#main-services{

}
#main-services h2{
	text-align: center;
	font-weight: bold;
	padding: 5% 0;
}
#main-services ul{
	float: left;
}
#main-services ul li{
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
}
#main-services ul li:nth-child(3){
	margin-right: 0;
}
#main-services ul li div.top-2{
	width: 90%;
	margin: 0 auto;
}
#main-services ul li div.top img{
	width: 100%;
}
#main-services ul li div.bottom{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 10%;
	margin-top: -10%;
}
#main-services ul li div.bottom h3.first{
	font-weight: bold;
}
#main-services ul li div.bottom h3{
	font-weight: bold;
	font-size: 15px;
}
#main-services ul li div.bottom p{
	font-size: 13px;
}
#main-services ul li div.bottom a.button{
	background: #000;
	border-radius: 25px;
	padding: 3px 15px;
	color: #fff;
	position: absolute;
	bottom: 10px;
	font-size: 15px;
	box-sizing: border-box;
	right: -15px;
}
#main-services ul li div.bottom a.button{
	display: none;
}
#main-services ul li:hover div.bottom a.button{
	background: #3BBAC7;
	display: block;
}
#main-services ul li:hover div.bottom h3{
	color: #3BBAC7;
}
#main-services ul li div.bottom a small{
	
}
#main-services ul li div.bottom a span{
	
}
#main-services div.bottom{

}
#main-services div.bottom ul{

}
#main-services div.bottom ul li{
	
}
#main-services div.bottom ul li div.top{
	
}
#main-services div.bottom ul li div.top img{
	
}
#main-services div.bottom ul li{

}
#main-services div.bottom ul li h3{
	
}
#main-services div.bottom ul li p{
	
}
#testimonials{

}
#testimonials h2{
	text-align:center;
	margin: 5% 0;
}
#testimonials .item{
	
}
#testimonials .item p{
	box-shadow: 2px 3px 4px -3px;
	padding: 20px;
	font-size: 14px;
	border-radius: 10px;
	color: #a6a6a6;
}
#testimonials .item .bottom{

}
#testimonials .item .bottom .left{
	width: 20%;
	padding-left: 20px;
}
#testimonials .item .bottom .left img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: block;
	margin-top: -12px;
}
#testimonials .item .bottom .left span{

}
#testimonials  .item .bottom .left span img{

}
#testimonials .item .bottom .right{
	padding-top: 10px;
	
}
#testimonials .item .bottom .right h4{

}
#testimonials .item .bottom .right h6{
	text-align: right;
}
div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav button.owl-prev{
	position: absolute;
	top: -40px;
	font-size: 60px;
	left: -45px;
	bottom: 0;
}
div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav button.owl-next{
	position: absolute;
	top: -40px;
	right: -45px;
	bottom: 0;
	font-size: 60px;
}
div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-dots{
	display: none;
}
.owl-carousel .owl-nav.disabled{
		display: block !important;
}
#appointment{

}
h3{
	text-align: center;
	font-size: 33px;
	padding-top: 35px;
}
form{
	width: 80%;
	margin: 0 auto;
	padding: 30px;
}
form p.first{
	padding: 18px 0;
}
form p.first input{
	color: #848484;
	border-radius: 9px;	
	font-size: 15px;
	padding: 17px 35px;
	width: 100%;	
	border:1px solid #a8a8a8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
form div.border{
	border:1px solid #a8a8a8;
	border-radius: 9px;	
}
form div.border p.one{
	padding: 16px;
}

form div.border p.one input{
	width: 0;
	margin-left: 10px;
}
form div.border p.one small{
	display: inline-block;
	margin-left: 52px;
}
form div.border p.two{
	display: inline-block;
	margin-left: 32%;
	padding: 16px;
}
form div.border p.two input{
	color: #848484;
	border-radius: 4px;
	font-size: 15px;
	padding: 3px 0px 3px 5px;
	width: 0px;
	 border:1px solid #a8a8a8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 120px;
}
form div.border p.three{
	margin-left: 32%;	
	padding: 16px;
}
form div.border p.three input{
	color: #848484;
	border-radius: 6px;	
	font-size: 15px;
	padding: 3px 14px;
	width: 75%;	
	border:1px solid #a8a8a8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
form div.border p.three small{

}
form div.border p.three small input{
	color: #848484;
	border-radius: 4px;
	font-size: 15px;
	padding:3px 0px 3px 12px;
	width: 0px;
	border:1px solid #a8a8a8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 120px;
}
form div.top{
	padding: 27px 0;
}
form div.top p.four{
	width: 49%;
	display: inline-block;
	border-radius: 9px;
	padding: 17px 35px;
	border:1px solid #a8a8a8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-left: 0px;
	margin-right: 1%;
}
form div.top p.four:nth-child(2n){
	margin-right: 0%;
}
form div.top p.four small{
	margin: 0px 10px 0px 50px;	
}
div.top p.four small input{
	color: #848484;
	border-radius: 9px;
	font-size: 15px;
	padding: 17px 35px;
	border:1px solid #a8a8a8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
form div.center{
	padding-bottom: 27px;
}
form div.center p.five{
	width: 49%;
	border-radius: 9px;	
	padding: 17px 35px;
	border:1px solid #a8a8a8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-left: 0px;
	margin-right: 2%;
}
form div.center p.five:nth-child(2n){
	margin-right: 0%;
}
form div.center p.five small{
	margin-left: 50px;
	padding-right:10px;
}
form div.center p.five small input{
	color: #848484;
	border-radius: 9px;	
	font-size: 15px;
	padding: 17px 35px;
	width: 48%;	
	border:1px solid #a8a8a8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
form div.bottom{
	border-radius: 9px;	
	font-size: 15px;
	padding: 25px 35px;		
	border:1px solid #a8a8a8;
}
form div.bottom p.six{
	display: inline-block;	
	padding-bottom: 16px;
	
}
form div.bottom p.six small{
	display: inline-block;
	margin-left: 58px;
}
form div.bottom p.six input{
	margin-left: 10px;
}


form div.bottom p.seven{
	margin-left: 4%;
}
form div.bottom p.seven small{
	margin-left: 78px;
}
form div.bottom p.seven input{
	margin-left: 10px;
}
form div.last{
	text-align: center;
	padding-top: 87px;
}
form div.last a.button.submit{
	color: #fff;
	border-radius: 50px;
	background:#2aada9;
	font-size: 15px;
	padding: 5px 65px;
	display: inline-block;
	border:1px solid #fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-weight: bold;
	margin-right: 40px;
}
form div.last a.button.reset{
	color: #2aada9;
	border-radius: 50px;
	background:#fff;
	font-size: 15px;
	padding: 5px 65px;
	display: inline-block;
	border:1px solid #2aada9;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-weight: bold;
}
.inner-gallery #home{
	
}
.inner-gallery #home header{
	padding: 15px 0;
}
.inner-gallery #spotlight{
	height: 250px;
	background: url(../images/nature.png) no-repeat;
	display: block;
}
.inner-gallery #gallery{

}
.inner-gallery #gallery .gallery-card{
	width: 80%;
	margin: -5% auto;
	box-sizing: border-box;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 50px 50px;
	background: #fff;
}
.inner-gallery #gallery .gallery-card h3{
	text-align: center;
	margin-top: -20px;
}
.inner-gallery #gallery .gallery-card ul{
	float: left;
	width: 100%;
	margin-top: 40px;
}
.inner-gallery #gallery .gallery-card ul li{
	float: left;
	width: 25%;
}
.inner-gallery #gallery .gallery-card ul li img{
	width: 100%;
	display: block;
}

.inner-courses #home{
	
}
.inner-courses #home header{
	padding: 15px 0;
}
.inner-courses #spotlight{
	height: 250px;
	background: url(../images/nature.png) no-repeat;
	display: block;
}
.inner-courses #courses{

}
.inner-courses #courses .courses-card{
	width: 80%;
	margin: -5% auto;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 50px 50px;
	background: #fff;
}
.inner-courses #courses .courses-card h2{
	text-align: center;
	margin-top: -20px;
}
.inner-courses #courses .courses-card p{
	margin-top: 30px;
}
.inner-courses #courses .courses-card ul{
	float: left;
	width: 100%;
	margin-top: 40px;
}
.inner-courses #courses .courses-card ul li{
	float: left;
	width: 32%;
	margin-right: 2%;
}

.inner-courses #courses .courses-card ul li:nth-child(3n){
	margin-right: 0;
}
.inner-courses #courses .courses-card ul li div.top{
	
}
.inner-courses #courses .courses-card ul li div.top img{
	width: 100%;
}
.inner-courses #courses .courses-card ul li div.bottom{
	width: 90%;
	position: relative;
	top: -50px;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 0 auto;
	padding: 15px 20px;
	background: #fff;
}
.inner-courses #courses .courses-card ul li div.bottom h3{
	font-size: 17px;
	font-weight: bold;
}
.inner-courses #courses .courses-card ul li div.bottom p{
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
}
.inner-courses #courses .courses-card ul li div.bottom div.buttons{
	margin-top: 18px;
}
.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button{
	background: #fff;
	padding: 5px 16px;
	font-size: 13px;
	border-radius: 25px;
	color: #000;
	border: 1px solid #000;
}
.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button1{
	background: #000;
	padding: 6px 17px;
	font-size: 13px;
	border-radius: 25px;
	color: #fff;
}
.inner-courses #courses .courses-card ul li:hover div.bottom h3{
	color: #51c0da;
}
.inner-courses #courses .courses-card ul li:hover div.bottom div.buttons a.button{
	color: #51c0da;
	border: 1px solid #51c0da;
}
.inner-courses #courses .courses-card ul li:hover div.bottom div.buttons a.button1{
	background: #51c0da;
}
.inner-topic #spotlight{
	background-image:url('../images/art.jpg');
	background-size: cover;
	height: 300px;
}

#topics{
}
#topics .topics-card{
	width: 80%;
	margin: 0 auto;
	margin-top: -85px;
	background-color: #fff;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	box-sizing: border-box;
	padding: 50px 50px;
}
#topics .topics-card h3{
	font-size: 35px;
}
#topics .topics-card p{
	font-size: 18px; 
	text-align: left;
	width: 80%;
	margin: 2% auto;
}
#topics .topics-card ul{
	float: left;
	width: 100%;
}
#topics .topics-card ul li{
	width: 32%;
	float: left;
	margin-right: 2%;
}
#topics .topics-card ul li:nth-child(3n){
	margin-right: 0;
	margin-bottom: 2%;
}

#topics .topics-card ul li div.top{

}
#topics .topics-card ul li div.top img{
	width: 100%;
}
#topics .topics-card ul li div.bottom-card{
	width: 90%;
	margin: 0 auto;
	margin-top: -50px;
	background-color: #fff;
	position: relative;
	text-align: left;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}
#topics .topics-card ul li div.bottom-card div.bottom{
	padding: 15px 15px;
	text-align: center;
}
#topics .topics-card ul li:hover div.bottom-card div.bottom h4{
	color: #51c0da;
}
#topics .topics-card ul li:hover div.bottom-card div.bottom a{
	color: #51c0da;
	border: 1px solid #51c0da;
}
#topics .topics-card ul li:hover div.bottom-card div.bottom a.black{
	background: #51c0da;
	color: #fff;
}
#topics .topics-card ul li div.bottom-card div.bottom h4{
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
#topics .topics-card ul li div.bottom-card div.bottom p{
	padding: 0 ;
	margin: 10px 0;
	font-size: 12px;
}
#topics .topics-card ul li div.bottom-card div.bottom a{
	padding: 5px 10px;
	color: #000;
	border: 1px solid #000;
	border-radius: 50px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
#topics .topics-card ul li div.bottom-card div.bottom a.black{
	color: #fff;
	background-color: #000;
	border-radius: 50px;
}
.inner-remote #home{
	
}
.inner-remote #spotlight{
	height: 250px;
	background: url(../images/nature.png) no-repeat;
	display: block;
}
.inner-gallery #gallery{

}
.inner-remote #remote-parenting .remote-card{
	width: 80%;
	margin: -5% auto 0;
	box-sizing: border-box;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 50px 50px;
	background: #fff;
	text-align: center;
}
.inner-remote #remote-parenting .remote-card h3{
	text-align: center;
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 27px;
}
.inner-remote #remote-parenting .remote-card p{
	text-align: justify;
	font-size: 14px;
	margin-bottom: 57px;
}
.inner-remote #remote-parenting .remote-card a.button{
	padding: 10px 30px;
    border-radius: 22px;
    display: inline-block;
    border: 1px solid #00acc1;
    color: #00acc1;

}
.inner-remote #remote-parenting .remote-card a.button2{
	padding: 10px 30px;
    border-radius: 22px;
    display: inline-block;
	color: #00acc1;
	margin-left: 28px;
	border: 1px solid #00acc1;
}
.inner-remote #remote-parenting .remote-card a.common:hover {
	background: #00acc1;
	color: #fff;
}
.inner-consulting #home{
	
}
.inner-consulting #home header{
	padding: 15px 0;
}
.inner-consulting #spotlight{
	width: 100%;
	background: url(../images/spot.jpg);
	height: 250px;
	background-size: 
}
.inner-consulting #consulting{
	

}
.inner-consulting #consulting .consulting-card{
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	margin-top: -45px;
	padding: 4%;
}
.inner-consulting #consulting .consulting-card h3{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.inner-consulting #consulting .consulting-card p{
	width: 90%;
	margin: 2% auto;
	font-size: 13px;
}
.inner-consulting #consulting .consulting-card ul{
	width: 100%;
	float: left;
}
.inner-consulting #consulting .consulting-card ul li{
	width: 32%;
	float: left;
	margin-right: 2%;
}
.inner-consulting #consulting .consulting-card ul li:nth-child(3){
	margin-right: 0;
}
.inner-consulting #consulting .consulting-card ul li:hover div.bottom-card div.bottom h4{
	color: #00acc1;
}
.inner-consulting #consulting .consulting-card ul li:hover div.bottom-card div.bottom div.buttons{

}
.inner-consulting #consulting .consulting-card ul li:hover div.bottom-card div.bottom div.buttons a.button{
	border: 1px solid #00acc1;
	color: #00acc1;
	display: inline-block;
}
.inner-consulting #consulting .consulting-card ul li:hover div.bottom-card div.bottom div.buttons a.button.black{
	background: #00acc1;
	color: #fff;
	display: inline-block;
}
.inner-consulting #consulting .consulting-card ul li div.top{

}
.inner-consulting #consulting .consulting-card ul li div.top img{
	width: 100%;
}
.inner-consulting #consulting .consulting-card ul li div.bottom-card{
	margin: 0 auto;
	margin-top: -45px;
	width: 80%;
	padding-bottom: 5%;
}
.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom{
	text-align: center;
	padding: 10%;
	background-color: #fff;
	display: inline-block;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}
.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom h4{
	font-size: 15px;
	text-align: left;
	font-weight: bold;
}
.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom p{
	font-size: 10px;
	text-align: left;
	margin: 11px 0;
}
.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons{

}
.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
	border: 1px solid #000;
	border-radius: 25px;
	padding: 8px 18px;
	font-size: 10px;
	color: #000;
	display: inline-block;
}
.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.black{
	background-color: #000;
	color: #fff;
	font-size: 10px;
	display: inline-block;
}
#counselling{
}
#counselling .counselling-card{
	width: 80%;
	margin: 0 auto;
	margin-top: -85px;
	background-color: #fff;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	box-sizing: border-box;
	padding: 50px 50px;
}
#home #spotlight{
	background-image:url('../images/art.jpg');
	background-size: cover;
	height: 300px;
}
#counselling .counselling-card h3{
	font-size: 35px;
}
#counselling .counselling-card p{
	font-size: 18px; 
	text-align: left;
	padding: 50px 0;
	width: 80%;
	margin: 0 auto;
}
#counselling .counselling-card ul{
	float: left;
	width: 100%;
}
section#counselling .counselling-card ul li{
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
}
section#counselling .counselling-card ul li:nth-child(3n){
	margin-right: 0;
}
#counselling .counselling-card ul li div.top{

}
#counselling .counselling-card ul li div.top img{
	width: 100%;
}
#counselling .counselling-card ul li div.bottom-card{
	width: 90%;
	margin: 0 auto;
	margin-top: -50px;
	background-color: #fff;
	position: relative;
	text-align: left;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}
#counselling .counselling-card ul li div.bottom-card div.bottom{
		padding: 25px 25px;
		text-align: center;
}
#counselling .counselling-card ul li div.bottom-card div.bottom h4 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
#counselling .counselling-card ul li div.bottom-card div.bottom p{
	padding: 0 ;
	font-size: 12px;
	margin: 15px 0;
}
#counselling .counselling-card ul li div.bottom-card div.bottom a{
	padding: 5px 12px;
	color: #000;
	border: 1px solid #000;
	border-radius: 50px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
#counselling .counselling-card ul li div.bottom-card div.bottom a.black{
	color: #fff;
	background-color: #000;
	border-radius: 50px;
}
#counselling .counselling-card ul li:hover div.bottom-card div.bottom h4{
	color: #51c0da;
}
#counselling .counselling-card ul li:hover div.bottom-card div.bottom a{
	color: #51c0da;
	border: 1px solid #51c0da;
}
#counselling .counselling-card ul li:hover div.bottom-card div.bottom a.black{
	background: #51c0da;
	color: #fff;
}
#map{
	padding: 6% 0;
}
#map div.left{
	float:left;
	width: 25%;
	padding: 5% 5% 5% 0;
}
#map div.left img{
	width:100%;
}
#map div.middle{
	width: 15%;
	padding: 5% 0;
	float:left;
}
#map div.middle .icon{

}
#map div.middle div.icon p{
	font-size:10px;
}
#map div.middle ul{
	padding-top: 60px;
}
#map div.middle ul li p{
	display:inline;
	font-size: 13px;
	color: #a6a6a6;
	width: 85%;
}
#map div.middle ul li p a{
	display:inline;
	font-size: 13px;
	color: #a6a6a6;
}
#map div.middle ul li{
	margin:0 0 65px;
	width: 100%;
}
#map div.middle ul li:nth-child(3n){
	margin:0;
}
#map div.middle ul li span{
	width: 10%;
}
.middle ul li span.icon{
	color: #00acc1;
}

#map div.right{
	padding: 2% 0;
	width: 50%;
	background-color: #d2eff3;
	margin-top: 65px;
}
#map div.right h3{
	text-align:center;
	font-size:10px;
	font-family: 'montserratbold';
	font-size: 15px;
}
#map div.right form{
	position:relative;
	width: 75%;
	margin: 0 auto;
}
#map div.right form p{
	margin-top:10px;
	font-family: 'montserratlight';
}
#map div.right form input.submit{
	position: absolute;
	right: 11px;
	top: 156px;
	padding: 2px 23px;
	background: #00acc1;
}
#map div.right form p.send{
	text-align:right;
	color:white;
	text-align: center;
	width: 100%;
}
#map div.right form p.send input {
	background: #00acc1;
	padding:5px 36px;
	font-size: 13px;
	position: absolute;
	top: 197px;
	right: 3px;
}
#map div.right form p input{
	color:white;
	font-size:10px;
}
#map div.right form p input[type="text"]{
	color: #000;
	font-size: 8px;
	display: block;
	width: 100%;
	background: #fff;
	padding: 13px 0 13px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
}
#map div.right form p input[type="email"]{
	color: #000;
	font-size: 8px;
	display: block;
	width: 100%;
	background: #fff;
	padding: 13px 0 13px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
}
#map div.right form p textarea {
	resize: none;
	width: 100%;
	display: block;
	background: #fff;
	color: #000;
	font-size: 8px;
	padding: 13px 0 13px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	height: 120px;
}
li.sidecard {
	position: relative;
}
li.gallerycard {
	position: relative;
}
div.services{
	position: absolute;
	border-radius: 5px;
	top: 72px;
	background: #00ACC1;
	width: 270px;
	left: 0;
	z-index: 1;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
}
div.services ul li{
	margin-bottom: 10px;
	width: 100%;
	position: relative;
	text-align: left;
	margin:0;
	line-height: 50px;
}
div.services ul li  a small {
	font-size: 13px;
}

div.services ul li span{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 20px;
}
div.services ul li a{
	color: #fff;
	border-bottom: 1px solid #fff;
	display: block;
	width: 90%;
}

div.gallery{
	position: absolute;
	border-radius: 5px;
	top: 72px;
	background: #00ACC1;
	width: 160px;
	left: -48px;
	z-index: 1;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}
div.gallery ul {
	line-height: 50px !important;
}
div.gallery ul li{
	margin-bottom: 10px;
	width: 100%;
	position: relative;
	text-align: left;
	margin:0;
	line-height: 50px;
}
div.gallery ul li  a small {
	font-size: 13px;
}

div.gallery ul li span{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 20px;
}
div.gallery ul li a{
	color: #fff;
	border-bottom: 1px solid #fff;
	display: block;
	width: 90%;
}
div.gallery ul li:last-child  a{
	border-bottom: none;
}
div.services ul li:last-child  a{
	border-bottom: none;
}
footer section.top{
	text-align:center;
	margin-bottom: 20px;
}
footer section.top h4{
	font-size:15px;
	font-family: 'montserratbold';
	margin-bottom: 10px;	
}
footer section.top ul{
	color: #a6a6a6;
}
footer section.top ul li{
	display:inline-block;
	font-size:15px;
	margin-right:40px;
}
footer section.top ul li a{
	color: #a6a6a6;
}
footer section.top ul li:last-child {
	margin-right: 0;
}
footer section.bottom{
	background-color:#00acc1;
	color: white;
	font-size: 20px;
	padding: 7px 0;
}
footer section.bottom .wrapper p{
	font-size: 14px;
}
footer section.bottom section.right{
	font-size: 14px;
	text-align:right;
}
footer section.bottom section.right a{
	color: #fff;
	font-weight: bold;
}
@media all and (max-width: 1280px){
	#main-services ul li{
		margin-bottom: 3%;
	}
	#main-services ul li:last-child{

	}
	#main-home #spotlight{
		padding: 9% 14% 15% 35%;
	}
	#main-home #spotlight a.button{
		padding: 8px 24px;
	}
}
@media all and (max-width: 980px) {	
	form div.border p.three small input{
		width: 60px;
	}
	form div.border p.three input {
		width: 60%;
	}
	form div.border p.three {
		margin-left: 0;
	}
	#testimonials .owl-carousel .item p{
		font-size: 13px;
	}
	#testimonials .owl-carousel .item .bottom .right h6{
		font-size: 10px;
	}
	#testimonials .owl-carousel .item .bottom .right h4{
		font-size: 14px;
	}
	#main-home #spotlight {
		padding: 8% 26% 19%;
	}
	#main-home #spotlight h1{
		font-size: 31px;
	}
	#main-home #spotlight p{
		font-size: 12px;
		margin-bottom: 5%;
	}
	#main-home #spotlight a.button{
		padding: 5px 15px;
	}
	#main-home #spotlight a small{
		font-size: 14px;
	}
	#main-home #spotlight a span{
		font-size: 15px;
	}
	#main-about section.card div.left p{
		margin-bottom: 20%;
	}
	#main-about section.card div.left a.button{
		padding: 8px 25px;
	}
	#main-about section.card div.left{
		padding: 21px 29px;
	}
	#main-about section.card div.right{
		padding: 21px 15px;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom {
		padding: 6%;
	}
	.inner-consulting #consulting .consulting-card ul li{
		margin-right: 2%;
	}
	.inner-consulting #consulting .consulting-card ul li:nth-child(3n){
		margin-right: 0;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
		padding: 8px 11px;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button.black{
		margin-top: 7px;
	}
	#main-home header nav.right ul li{
		margin-right: 30px;
	}
	#main-home header nav.right{
		display: none;
	}
	#main-services ul li{
		width: 32%;
	}
	#main-home header div.mobile-menu{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 50px 0;
		background: rgba(0,0,0,0.9);
	}
	#main-home header div.mobile-menu ul li{
		display: block;
		margin-bottom: 30px;
		line-height: 20px;
	}
	#main-home header div.mobile-menu li:last-child{
		margin-bottom: 0;
	}
	#main-home header div.mobile-menu ul li a{
		color: #fff;
		font-size: 25px;
	}
	#main-home header div.mobile-menu ul li a small{
		font-size: 25px;
	}
	#main-home header span.menu-icon{
		display: block;
		float: right;
		width: 40px;
		height: 40px;
		border: 2px solid #666;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		line-height: 40px;
		text-align: center;
		margin-top: 16px;
		cursor: pointer;
	}
	#main-home header span.menu-icon small{
		display: inline-block;
		width: 20px;
		height: 30px;
		background: url('../images/menu.png');
	}
	#main-home span.menu-close-icon{		
		background: url('../images/close.png');
		position: absolute;
		right: 20px;
		top: 30px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 2;
		display: none;
	}
	.inner-courses #home header {
		padding: 10px 0;
	}
	.inner-courses #courses .courses-card {
		width: 85%;
		padding: 45px 45px;
	}
	.inner-courses #courses .courses-card p {
	    margin-top: 15px;
	    line-height: 10px;
	}
	.inner-courses #courses .courses-card ul {
    	margin-top: 35px;
	}
	.inner-courses #courses .courses-card ul li div.bottom {
		top: -45px;
		padding: 10px 5px;
	}
	.inner-courses #courses .courses-card ul li div.bottom h3 {
		font-size: 15px;
	}
	.inner-courses #courses .courses-card ul li div.bottom p {
		margin-top: 8px;
		font-size: 12px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons {
    	margin-top: 13px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button {
		padding: 4px 15px;
		font-size: 12px;
		display: inline-block;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button1 {
		padding: 6px 15px;
		font-size: 12px;
	}
	#map div.left {
	    width: 49%; 
	    padding: 5% 0 0 0;
	    margin-right: 2%;
	}
	#map div.middle {
	    width: 49%;
	    padding: 5% 0;
	}
	#map div.right {
	    padding: 5% 0;
	    width: 100%;
	    margin-top: 40px;
	}
	#map div.right h3 {
		font-size: 23px;
	}
	#map div.middle ul {
    	padding-top: 35px;
	}
	 #counselling .counselling-card ul li div.bottom-card div.bottom a {
    	padding: 4px 7px;
		font-size: 10px;
	}
	#counselling .counselling-card ul li{
		width: 30%;
	}
	#counselling .counselling-card ul li div.bottom-card div.bottom {
    	padding: 15px 15px;
	}
	section#topics section.topics-card ul li div.bottom-card div.bottom a {
		font-size: 10px;
	}
	 #topics .topics-card ul li div.bottom-card div.bottom a {
    	padding: 4px 7px;
		font-size: 10px;
	}
	#topics .topics-card ul li div.bottom-card div.bottom {
    	padding: 15px 15px;
	}
	#main-home #spotlight {
		padding: 8% 26% 19%;
	}
}
@media all and (max-width: 768px) {
	form div.top p.four small {
    	margin-left: 16px;
	}
	form div.center p.five small{
		margin-left: 14px;
	}
	form div.bottom p.seven small {
    	margin-left: 93px;
	}
	#testimonials .owl-carousel .item p{
		font-size: 12px;
	}
	#testimonials h2{
		font-size: 21px;
	}
	div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav button.owl-prev{
		font-size: 50px;
		left: -22px;
	}
	div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav button.owl-next{
		right: -22px;
		font-size: 50px;
	}
	#main-services ul li div.bottom h3.first{
		font-size: 19px;
	}
	#main-services ul li div.bottom h3{
		font-size: 19px;
	}
	#main-about section.card div.left,#main-about section.card div.right{
		height: auto !important;
	}
	#main-about section.card div.left a.button{
		padding: 5px 20px;
	}
	#main-about section.card div.left a small{
		font-size: 14px;
	}
	#main-about section.card div.left a span{
		font-size: 15px;
	}
	#main-about section.card div.left{
		width: 100%;
		height: 340px;
	}
	#main-about section.card div.right{
		width: 100%;
	}
	#main-home #spotlight a.button{
		padding: 4px 16px;
	}
	#main-home #spotlight a small{
		font-size: 12px;
	}
	#main-home #spotlight h1{
		font-size: 26px;
	}
	#main-home #spotlight p{
		font-size: 12px;
	}
	section#counselling .counselling-card ul li {
    	width: 29%;
	}
	.inner-consulting #consulting .consulting-card ul li{
		width: 32%;
	}
	section#counselling .counselling-card ul li {
    	width: 32%;
	}
	#topics .topics-card ul li div.bottom-card div.bottom a.black{
		margin-top: 5px;
	}
	.inner-consulting #consulting .consulting-card ul li{
		margin-right: 2%;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
		padding: 5px 2px;
	}
	.inner-courses #home header {
    	padding: 7px 0;
	}
	.inner-courses #courses .courses-card ul li div.bottom h3 {
   		font-size: 12px;
	}
	.inner-courses #courses .courses-card ul li div.bottom p {
    	margin-top: 4px;
    	font-size: 11px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons {
    	margin-top: 7px;
		margin-left: -14px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button{
	    padding: 3px 7px;
		font-size: 11px;
		margin-left: 15px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button1 {
    	padding: 3px 7px;
		font-size: 11px;
		display: inline-block;
		margin-top: 8px;
	}
	#counselling .counselling-card h3 {
    	font-size: 30px;
	}
	#counselling .counselling-card ul li div.bottom-card div.bottom a {
    	padding: 5px 3px;
	}
	#counselling .counselling-card ul li div.bottom-card div.bottom {
    	padding: 10px 10px;
    }
    #topics .topics-card {
    	padding: 20px 20px;
    }
	#topics .topics-card ul li div.bottom-card div.bottom a {
    	padding: 5px 3px;
	}
	#topics .topics-card ul li div.bottom-card div.bottom {
    	padding: 10px 10px;
    }
    #topics .topics-card p {
		font-size: 16px;
	}
	#topics .topics-card ul li {
		width: 30%;
	}
	#topics .topics-card ul li div.bottom-card div.bottom h4 {
    	font-size: 11px;
	}
	.sidenav a {
		margin-left: 10px;
	}
	header div.right {
		display: none;
	}
	.sidenav {
		background: #e5e5e5;
		display: block;
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 3;
	    top: 0;
	    right: 0;
	    overflow-x: hidden;
	    -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	    padding-top: 60px;
	}
	.sidenav li {
	    padding-left: 30px;
	    text-decoration: none;
	    font-size: 16px;
	    color: #fff;
	    display: block;
	    -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	    line-height: 3;
	    margin-bottom: 10px;
	}
	.sidenav li:last-child {
		margin-bottom: 0;
	}
	.sidenav .menu {
		width: 250px;
	}
	.openmenu{
		display: block;
	    cursor: pointer;
	    position: absolute;
	    top: 25px;
	    right: 35px;
	    background: url(../images/menuw.png);
	    width: 30px;
	    height: 28px;
	}
	.sidenav a:hover, .offcanvas a:focus,.sidenav li:hover i{
    	color: #FD0215;
	}
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 50px;
	}
}
@media all and (max-width: 680px) {
	form div.top p.four{
		padding: 17px 17px;
		width: 48%;
	}
	form div.center p.five{
		padding: 17px 17px;
		width: 48%;
	}
	form {
	    width: 100%;
	    margin: 0 auto;
	    padding: 30px 0;
	}
	form div.border p.one small {
		margin-left: 10px;
	}
	form div.border p.two {
		margin-left: 10%;
	}
	form div.top p.four small{
		margin-left: -7px;

	}
	form div.top p.four{
		padding: 11px 11px;
	}
	form div.top p.four small {
    	margin-left: 14px;
	}
	form div.center p.five small{
		margin-left: 9px;
		padding-right: 1px;
	}
	form div.center p.five{
		padding: 11px 11px;
	}
	form div.bottom{
		padding: 8px 6px;
	}
	form div.bottom p.six small{
		margin-left: 21px;
	}
	form div.bottom p.seven small{
		margin-left: 48px;
	}
	form div.last a.button.submit{
		padding: 5px 40px;
		margin-right: 30px; 
	}
	form div.last a.button.reset{
		padding: 5px 40px;
	}
	#main-services ul li{
		width: 48%;
	}
	#main-services ul li:nth-child(3) {
    	margin-right: 2%;
	}
	#main-services ul li div.bottom{
		padding: 5%;
	}
	#main-about section.card div.right ul li div.left-2 span{
		font-size: 33px;
	}
	#main-about section.card div.right ul li div.right-2 span{
		font-size: 33px;
	}
	#main-home #spotlight{
		padding: 0 22% 10%;
	}
	#main-home #spotlight a span{
		font-size: 14px;
	}
	#main-about section.card div.left{
		height: 400px;
		padding: 20px 15px;
	}
	#main-about section.card div.right{
		height: 340px;
	}
	#main-home #spotlight h1{
		font-size: 22px;
	}
	#main-about section.card div.left a small{
		margin-right: 2%;
	}
	#main-about section.card div.left a.button{
		padding: 5px 20px 5px 35px;
	}
	.inner-gallery #gallery .gallery-card {
		width: 85%;
		margin: -8% auto;
		padding: 40px 35px; 
	}
	.inner-gallery #gallery .gallery-card ul {
		margin-top: 20px;
	}
	.inner-gallery #gallery .gallery-card ul li {
		width: 50%;
	}
	 #counselling .counselling-card p {
    	font-size: 15px;
	}
	.inner-remote #remote-parenting .remote-card {
		margin-top: -13%;
	}
	.inner-remote #remote-parenting .remote-card p {
		margin-bottom: 30px;
	}
	.inner-remote #remote-parenting .remote-card a.button {
	    padding: 7px 23px;
	    font-size: 14px;
	}
	.inner-remote #remote-parenting .remote-card a.button2 {
		padding: 7px 23px;
	    font-size: 14px;
	    margin-left: 5px;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom {
		padding: 4%;
	}
	.inner-consulting #consulting .consulting-card ul li{
		margin-bottom: 2%; 
		width: 48%;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
		padding: 8px 3px;
		font-size: 8px;
	}
	.inner-courses #courses .courses-card p {
		line-height: 20px;
	}
	.inner-courses #spotlight {
		height: 185px;
	}
	.inner-courses #courses .courses-card {
		width: 90%;
		padding: 30px 30px;
		margin-top: -60px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons {
		margin-left: 13px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button {
		padding: 5px 5px;
		font-size: 10px;
		margin-left: -8px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button1 {
		padding: 5px 6px;
		font-size: 11px;
		display: inline-block;
		margin-top: 15px;
	}
	footer section.bottom .wrapper p {
		font-size: 13px;
	}
	#topics .topics-card ul li {
    	width: 49%;
    	margin-bottom: 2%;
	}
	#topics .topics-card ul li:nth-child(3n) {
	   margin-right: 2%;
	}
	#topics .topics-card ul li:nth-child(2n) {
		margin-right: 0;
	}
	#topics .topics-card ul li div.bottom-card div.bottom a {
    	padding: 5px 10px;
	}
	#counselling .counselling-card ul li:nth-child(3n) {
	   margin-right: 2%;
	}

	#counselling .counselling-card ul li:nth-child(2n) {
		margin-right: 0;
	}
	#counselling .counselling-card ul li:nth-child(4) {
    margin-left: 10px;
    margin-top: 0;
	}
	#counselling .counselling-card p {
    	font-size: 13px;
	}
	#counselling .counselling-card h3 {
    	font-size: 25px;
	}
	section#counselling .counselling-card ul li {
	    width: 46%;
	}
	#counselling .counselling-card ul li div.bottom-card div.bottom a {
    	padding: 5px 10px;
	}
}
@media all and (max-width: 480px){
	#main-services ul li div.bottom h3.first{
		font-size: 17px;
	}
	#main-services ul li div.bottom h3{
		font-size: 17px;
	}
	#topics .topics-card ul li {
    	margin: 0;
	}
	#topics .topics-card {
		width: 90%;
		padding: 50px 10px;
	}
	.inner-consulting #consulting .consulting-card ul li{
		width: 95%;
		float: unset;
		margin-right: 0;
		margin-left: 0;
		margin: 0 auto;
	}
	.inner-consulting #consulting .consulting-card ul li:nth-child(3n){
		margin-right: auto;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
		padding: 8px 18px;
		font-size: 10px;
	}
	#main-services ul li div.bottom h3.first{
		font-size: 17px;
	}
	#main-services ul li div.bottom h3{
		font-size: 17px;
	}
	#main-services h2{
		font-size: 22px;
	}
	#main-services ul li div.bottom p{
		font-size: 12px;
	}
	#main-about section.card{
		width: 90%;
	}
	#main-home #spotlight{
		padding: 30% 13% 5%;
	}
	#main-home #spotlight h1{
		font-size: 25px;
	}
	#main-services h2{
		font-size: 22px;
	}
	/*#main-services ul li div.bottom p{
		font-size: 12px;
	}*/
	#main-home #spotlight a.button{
		padding: 2px 10px;
	}
	#main-home #spotlight p{
		font-size: 12px;
	}
	#main-about section.card div.left{
		height: 330px;
		padding: 25px 35px;
	}
	#main-home #spotlight a small{
		font-size: 11px;
	}
	#main-home #spotlight a span{
		font-size: 13px;
	}
	#main-about section.card div.left p{
		font-size: 12px;
	}
	#main-about section.card div.left h3{
		font-size: 16px;
	}
	#main-about section.card div.left a.button{
		padding: 4px 18px;
	}
	#main-about section.card{
		margin-top: -23px;
	}
	#main-about section.card div.right ul li div.left-2 span{
		font-size: 30px;
	}
	#main-about section.card div.right{
		padding: 25px 15px;
		/*height: 430px;*/
	}
	#main-about section.card div.right h3{
		font-size: 16px;
	}
	#main-about section.card div.right ul li div.right-2 p{
		font-size: 11px;
	}
	#main-about section.card div.right ul li div.left-2 p{
		font-size: 11px;
	}
	#main-about section.card div.right ul li div.right-2 h4{
		font-size: 14px;
	}
	#main-about section.card div.right ul li div.left-2 h4{
		font-size: 14px;
	}
	#main-about section.card div.left,#main-about section.card div.right{
		height: auto !important;
	}
	#main-about section.card div.left a small{
		font-size: 13px;
	}
	#main-about section.card div.left a span{
		font-size: 13px;
	}
	section#counselling .counselling-card ul li {
  	  width: 100%;
  	  margin: 0;
  	  margin-bottom: 30px;
	}
	#counselling .counselling-card p {
    	padding: 0;
	}
	.inner-courses #spotlight {
		height: 220px;
	}
	.inner-courses #courses .courses-card {
    	width: 90%;
    	padding: 45px 20px;
    	margin: -10% auto;
	}
	.inner-courses #courses .courses-card h2 {
		margin-top: -35px;
	}
	.inner-courses #courses .courses-card p {
		font-size: 15px;
		line-height: 20px;
	}
	.inner-courses #courses .courses-card ul {
    	margin-top: 20px;
	}
	.inner-courses #courses .courses-card ul li {
		width: 90%;
		margin: 0 5%;
	}
	.inner-courses #courses .courses-card ul li:nth-child(9) {
		display: none;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons {
		margin-top: 8px;
		margin-left: 50px;
	}
	.inner-remote #remote-parenting .remote-card {
    	margin-top: -20%;
    	padding: 50px 30px 30px;
	}
	.inner-remote #remote-parenting .remote-card h3 {
		margin-top: -20px;
	    margin-bottom: 18px;
	    font-size: 24px;
	}
	#map div.left {
	    width: 100%;
	    padding: 0;
	    margin-right: 0;
	}
	#map {
	    padding: 8% 0;
	}
	#map div.middle {
		width: 100%;
		padding: 5% 10%;
	}
	#map div.middle ul li p a {
		font-size: 14px;
	}
	#map div.middle ul li {
		margin-bottom: 37px;
	}
	#map div.right{
		margin-top: 20px;
	}
	footer section.top ul li {
	    font-size: 14px;
	    margin-right: 10px;
	}
	footer .bottom .left {
		width: 100%;
    	text-align: center;
	}
	footer section.bottom section.right {
    	font-size: 14px;
	    text-align: center;
	    width: 100%;
	}
	footer section.bottom .wrapper p {
	    font-size: 13px;
	}
	section#topics section.topics-card p {
		padding: 0 1px;
		text-align: justify;
	}
	#topics .topics-card ul li {
		top: -45px;
		padding: 10px 5px;
		width: 100%;
	}
}
@media all and (max-width: 450px){
	form p.first {
    	padding: 11px 0;
	}
	form p.first input{
		padding: 13px 17px;
	}
	h3 {
		font-size: 28px;
	}
	form div.border p.one{
		font-size: 15px;
	}
	form div.border p.one small{
		margin: 0px 10px;	
	}
	form div.border p.one input{
		margin-left: 1px;
	}
	form div.border p.two {
	    margin-left: 5%;
	    font-size: 15px;
	}
	form div.border p.two input{
		width: 94px;
	}
	form div.top p.four{
		font-size: 15px;
	}
	form div.top p.four small {
	    margin-left: -1px;
	}
	form div.center p.five{
		font-size: 15px;
	}
	form div.bottom p.six input{
		margin-right: 47px;
	}
	form div.bottom p.six small {
    	margin-left: 13px;
	}
	form div.bottom p.seven small {
    	margin-left: 33px;
	}
	#map div.left {
	    width: 100%;
	    padding: 0;
	    margin-right: 0;
	}
	#map {
	    padding: 8% 0;
	}
	#map div.middle {
		width: 100%;
		padding: 5% 10%;
	}
	#map div.middle ul li p a {
		font-size: 14px;
	}
	#map div.middle ul li {
		margin-bottom: 37px;
	}
	#map div.right{
		margin-top: 20px;
	}
	footer section.top ul li {
	    font-size: 14px;
	    margin-right: 10px;
	}
	footer .bottom .left {
		width: 100%;
    	text-align: center;
	}
	footer section.bottom section.right {
    	font-size: 14px;
	    text-align: center;
	    width: 100%;
	}
	footer section.bottom .wrapper p {
	    font-size: 13px;
	}
}
@media (max-width: 360px) {
	h3 {
    	font-size: 24px;
	}
	form p.first {
    	padding: 11px 0;
	}
	form p.first input{
		padding: 10px 17px;
	}
	form div.border p.two {
		padding: 7px;
	}
	form div.border p.three {
    	padding: 11px;
	}
	form div.center p.five {
	    padding: 17px 17px;
	    width: 100%
	}
	form div.top {
    	padding: 11px 0;
	}
	form div.top p.four {
	    padding: 17px 17px;
	    width: 100%;
	}
	form div.top p.four small {
    	margin-left: 17px;
	}
	form div.center {
    	padding-bottom: 14px;
	}
	form div.center p.five small {
		margin: 0px 10px 0px 17px;
	}
	form div.bottom p.six{
		padding-bottom: 7px;
	}
	form div.bottom p.six small {
    	margin-left: 13px;
	}	
	form div.bottom p.seven small {
    	margin-left: 17px;
	}
	form div.bottom p.six input {
    	margin-right: 31px;
	}
	form div.last a.button.submit{
		margin-right: 0px;
	}
	form div.last {
    padding-top: 59px;
	}
	.inner-consulting #consulting .consulting-card ul li{
		width: 95%;
		float: unset;
		margin-right: 0;
		margin-left: 0;
		margin: 0 auto;
	}
	.inner-consulting #consulting .consulting-card ul li:nth-child(3n){
		margin-right: auto;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
		padding: 8px 16px;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button.black{
		margin-top: 7px;
	}
	#main-services ul li div.bottom p{
		font-size: 13px;
	}
	#main-about section.card div.left a small{
		font-size: 12px;
	}
	#main-about section.card div.right ul li div.left-2 span{
		font-size: 25px;
	}
	#main-about section.card div.right ul li div.right-2 span{
		font-size: 25px;
	}
	#main-home #spotlight a.button{
		padding: 2px 5px;
	}
	#main-home #spotlight a small{
		font-size: 10px;
	}
	#main-home #spotlight a span{
		font-size: 12px;
	}
	#main-home #spotlight p{
		font-size: 9px;
	}
	#main-home #spotlight h1{
		font-size: 14px;
	}
	.inner-gallery #gallery .gallery-card h3 {
		margin-top: -27px;
	}
	.inner-gallery #gallery .gallery-card ul {
    	margin-top: 13px;
	}
	.inner-remote #remote-parenting .remote-card {
	    margin-top: -28%;
	    padding: 50px 20px 30px;
	}
	#map div.right form {
		width: 85%;
	}
	#map div.left {
		height: 200px;
	}
	footer section.top ul li {
	    font-size: 12px;
	    margin-right: 3px;
	}
	#map div.right h3 {
		font-size: 20px;
	}
	#map div.middle ul {
		padding-top: 120px;
	}
	.inner-courses #spotlight {
		height: 170px;
	}
	.inner-courses #courses .courses-card {
		padding: 40px 10px;
		margin: -13% auto;
	}
	.inner-courses #courses .courses-card h2 {
		font-size: 20px;
		margin-top: -30px;
	}
	.inner-courses #courses .courses-card p {
    	font-size: 14px;
    	line-height: 20px;
	}
	.inner-courses #courses .courses-card ul li div.bottom {
		top: -50px;
	}
	.inner-courses #courses .courses-card ul li div.bottom h3 {
    	font-size: 15px;
	}
	.inner-courses #courses .courses-card ul li div.bottom p {
		font-size: 13px;
	}	
	#topics .topics-card p {
		font-size: 13px;
	}
	#topics .topics-card ul li {
		margin: -3px auto;
	}
	#map div.middle ul{
		padding-top: 140px;
	}
}
@media all and (max-width: 320px) {
	h3{
		font-size: 20px;
	}
	form p.first {
    	padding: 3px 0;
	}
	form p.first input {
    	padding: 9px 14px;
	}	
	form div.center p.five {
	    padding: 17px 17px;
	    width: 100%
	}
	form div.top p.four {
	    padding: 17px 17px;
	    width: 100%;
	}
	form div.border p.one small {
	    width: 64%;
	    margin-left: 23px;
	}
	form div.border p.one {
    	padding: 16px 16px 7px;
	}
	form div.border p.two input {
   	 	width: 78px;
	}
	form div.border p.two {
    	margin-left: 0%;
	}
	form div.border p.three {
		padding: 0px 16px 16px 0;
	}
	form div.bottom p.six small {
    	margin-left: 13px;
	}
	form div.bottom p.seven input {
    	margin-left: 9px;
	}
	form div.bottom p.six input {
    	margin-right: 15px;
	}
	form div.bottom p.seven small {
    	margin-left: 4px;
	}
	form div.last a.button.submit {
   		padding: 5px 30px;
	}
	form div.last a.button.reset {
    	padding: 5px 30px;
	}
	footer section.top ul li {
	    font-size: 11px;
	    margin-right: 2px;
	}
	footer section.bottom .wrapper p {
		font-size: 12px;
	}
	#main-about section.card div.right ul li div.width-lg {
    	width: 85%;
	}
	.inner-consulting #consulting .consulting-card ul {
		margin: 0 auto;
	}
	.inner-consulting #consulting .consulting-card ul li{
		width: 95%;
		margin: 0 4%;
	}
	.inner-consulting #consulting .consulting-card ul li:nth-child(2n){
		margin: 10% 0 0 4%;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom{
		padding: 6%;
	}
	.inner-consulting #consulting .consulting-card ul li div.bottom-card div.bottom div.buttons a.button{
		padding: 8px 10px;
	}
	#main-about section.card div.right ul li div.left-2 span{
		font-size: 23px;
	}
	#main-about section.card div.right ul li div.right-2 span{
		font-size: 23px;
	}
	#main-services ul li div.bottom p{
   		font-size: 10px;
   		margin: 25px 0;
	}
	#counselling .counselling-card ul li div.bottom-card div.bottom p {
    	font-size: 10px;
	}
	#counselling .counselling-card ul li div.bottom-card div.bottom a.black{
		margin-top: 5px;
	}
	.inner-gallery #spotlight {
		height: 150px;
	}
	.inner-gallery #gallery .gallery-card {
		margin: -12% auto;
	}
	.inner-gallery #gallery .gallery-card ul li {
    	width: 100%;
	}
	.inner-remote #remote-parenting .remote-card a.button, .inner-remote #remote-parenting .remote-card a.button2 {
	    padding: 5px 19px;
	    font-size: 11px;
	}
	footer section.top ul li {
	    font-size: 11px;
	    margin-right: 2px;
	}
	footer section.bottom .wrapper p {
		font-size: 12px;
	}
	.inner-remote #remote-parenting .remote-card h3 {
		font-size: 23px;
	}
	div.services ul li a{
		color: #fff;
		border-bottom: 1px solid #fff;
		font-weight: bold;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons {
   		margin-top: 10px;
   		margin-left: 10px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button {
		margin-left: 15px;
	}
	.inner-courses #courses .courses-card ul li div.bottom div.buttons a.button1 {
		margin-left: 15px;
	}
	.inner-courses #courses .courses-card ul li div.bottom {
    	top: -25px;
	}
	.inner-courses #courses .courses-card ul li div.bottom h3 {
    	font-size: 12px;
	}
	.inner-courses #courses .courses-card ul li div.bottom p {
   		font-size: 11px;
	}
	#topics .topics-card ul li {
		margin: 5px auto;
	}
	#topics .topics-card{
		padding: 25px 25px;
	}
	#map div.middle ul{
		padding-top: 140px;
	}
}